
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

:root{
    --background: linear-gradient(45deg, #abacac, #7e8080, #4d5050, #d5d5d5);
    --borda: #4d505060;
    --fundo: #333;
    --zebrado: #0c0c0c;
}
/*Cabeçalho*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 20px;
    align-items: center;
}

header h1{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    background: var(--background);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    color: transparent;
    animation: titulo 6s linear infinite alternate;
}

@keyframes titulo {
    0%{background-position-x: 100%;}
    100%{background-position: 400%;}
}

.redes-siga p{
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: .5rem;
}

.redes ul{
    list-style: none;
}

.redes ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: var(--fundo);
    justify-content: center;
    margin: 0 13px;
    transition: .3s;
    border: 1px solid var(--borda);
    cursor: pointer;
}

.redes ul li:hover{width: 80px;}

.redes ul li:hover::before{opacity: 1;}

.redes span{position: absolute;}

.redes .icon{
    color: white;
    font-size: 22px;
    transition: .2s;
}

.redes ul li:hover .icon{transform: scale(0);}

.redes .text{
    color: white;
    font-size: 13px;
    font-weight: bold;
    transform: scale(0);
    transition: .2s;
    transition-delay: .1s;
}

.redes ul li:hover .text{transform: scale(1);}

.trilho{
    display: flex;
    align-items: center;
    width: 70px;
    height: 30px;
    border-radius: 60px;
    border: 1px solid white;
    position: relative;
    scale: .9;

}

.botao{
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    transition: .5s;
}


/*Menu de navegação*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--borda);
    width: 100%;

}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 16px;
    position: relative;
}
nav ul li a:hover{
    background-color: var(--fundo);
}

nav ul li a::after{
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: .5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/*Sobre mim*/
.sobre{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--borda);
}
.sobre img{
    width: 350px;
    height: 350px;
    animation: sobe 5s ease infinite;
}

@keyframes sobe {
    0%{transform: translateY(0px);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*Minhas Habilidades*/
.habilidades{
    background-color: #0c0c0c;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--borda);
}

.habilidades h2{
    text-align: center;
    font-size: 35px;
    padding: 0 0 1.5rem 0;
}

.habs{
    padding: 0 1rem;
}
.habs ul{
    list-style: none;
    margin: 20px 0;
}
.habs .barras{
    display: block;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--borda);
}

.habs span{
    position: absolute;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    background-color: #0c0c0c;
}


.html{
    width: 80%;
    animation: html 3s ease;
}
@keyframes html {
    0%{width: 0%;}
    100%{width: 80%;}
}
.css{
    width: 70%;
    animation: css 2.8s ease;
}
@keyframes css {
    0%{width: 0%;}
    100%{width: 70%;}
}
.javascript {
    width: 60%;
    animation: javascript 2.6s ease;
}
@keyframes javascript  {
    0%{width: 0%;}
    100%{width: 60%;}
}
/*Meus Projetos*/

.projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border: 1px solid var(--borda);
}

.projetos h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 1.5rem;
}

.galeria{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.overflow{
    height: 440px;
    width: 400px;
    gap: 10px;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    border: 1px solid var(--borda);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.overflow:hover{
    background-position: 100% 100%;
}

.site1{
    background-image: url(Imagens/1.png);
    transition: background-position 3s;
}

.site2{
    background-image: url(Imagens/2.png);
    transition: background-position 13s;
}

.site3{
    background-image: url(Imagens/3.png);
    transition: background-position 14s;
}

.sinopses{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.829);
    opacity: 1;
    transition: .5s;
}

.sinopses:hover{
    opacity: 0;
}

.sinopses h4{
    font-size: 30px;
    color: white;
}

/*Contatos*/
.contatos{

    background-color: var(--zebrado);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid var(--borda);
}

.contatos h2{
    padding-bottom: 1.5rem;
}
.contatos input{
    height: 50px;
    width: 250px;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    gap: 5px;
}

input[type="text"], [type="email"]{
    text-align: center;
    font-size: 15px;
    padding: 1rem;
}


input::placeholder{
    text-align: center;
    font-size: 15px;
}

.botao-envio{
    height: 50px;
    width: 260px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid white;
    background: var(--background);
    background-size: 400% 100%;
    animation: titulo 6s linear infinite alternate;
    font-weight: bold;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.596);
    scale: .9;
}

.preferencia{
    padding: 1rem;
}

.gmail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gmail-icon ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border-radius: 60px;
    background-color: var(--fundo);
    border: 1px solid var(--borda);
    transition: .5s;
    cursor: pointer;
}

.gmail-icon ul li:hover{width: 240px;}

.gmail-icon span{position: absolute;}

.gmail-icon .icon-gmail{
    font-size: 50px;
    transition: .2s;
}

.gmail-icon:hover .icon-gmail{
    transform: scale(0);
}

.gmail-icon .text-gmail{
    font-size: 25px;
    font-weight: bold;
    transition: .2s;
    transition-delay: .1s;
    transform: scale(0);
}

.gmail-icon:hover .text-gmail{
    transform: scale(1);
}

footer{
    font-weight: bold;
    padding: 1rem .5rem;
    text-align: center;
    font-size: 12px;
}

@media (min-width:768px) {
    header h1{
        font-size: 40px;
    }
    .redes-siga, .redes{
        margin-right: 1.5rem;
    }

    .redes-siga p{
        margin-right: 20px;
        font-size: 16px;
    }
    .redes ul li{
        height: 55px;
        width: 55px;
        margin: 0 10px ;
    }

    .redes ul li:hover{
        width: 110px;
    }

    .redes .text{font-size: 17px;}

    nav ul li a{
        font-size: 20px;
    }

    .trilho{
        height: 55px;
        width: 100px;
    }

    .trilho .botao{
        height: 45px;
        width: 45px;
}

    .sobre{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .barras{
        display: block;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 450px;
    }

    .galeria{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .overflow{
        height: 530px;
        width: 350px;
    }

    footer{
        font-size: 18px;
    }
}

@media (min-width: 1024px){
    .redes ul li{
        height: 60px;
        width: 60px;
    }

    .redes ul li:hover{
        width: 120px;
    }

    .redes-siga p{
        margin-right: 14px;
        font-size: 15px;
    }
    .redes .text{
        font-size: 18px;
    }
    .sobre{
        height: 420px;
    }

    .habilidades{
        height: 590px;
    }

    .barras{
        width: 800px;
    }
    .info{
        width: 500px;
    }

    .projetos{
        padding-bottom: 4rem;
    }

    .contatos h2{
        font-size: 40px;
    }

    .contatos h4{
        font-size: 30px;
    }

    .contatos input{
        width: 400px;
    }

    .contatos button{
        width: 400px;
        height: 60px;
    }

    footer{
        font-size: 20px;
    }
}